body {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.5;
	
  background: #fff;
	color: #333333;
  overflow-y: auto;
}

h1 {
	font-size: 50px;
	font-weight: 700;
}

h2	{
  font-size:  40px;
  font-weight: 700;
}

.header img {
  position: absolute;
  width: 50%;
  height: 50%;
  display: block;
}

img.aljumaine {
  top:  0;
  left: 0;
}

img.gayle {
  top:  0;
  right: 0;
}

img.creative {
  bottom: 0;
  left:  0;
}

img.project-manager {
  bottom: 0;
  right: 0;
}

.header {
  position: relative;
  width: 100vw;
  height: 95vh;
  background-color: #ffdc00;
}

.content {
  min-height: 100vh;

}

